variables:
  NODE_VERSION: 18

stages:
- build
- publish

before_script:
- npm ci

build:
  stage: build
  image: node:$NODE_VERSION
  only:
  - master
  - develop
  - merge_requests
  script:
  - npm run lint
  - npm run build
  - npm run test

publish:
  stage: publish
  image: node:$NODE_VERSION
  only:
  - tags
  script:
  - npm run lint
  - npm run build
  - npm run test
  - npm --no-git-tag-version version ${CI_COMMIT_TAG}
  - npm config set @ts-awesome/orm:registry https://registry.npmjs.org/
  - npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN
  - npm publish --access public
  variables:
    NPM_TOKEN: ${NPM_TOKEN}
